*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-style: normal;
    font-weight: normal;
    font-size: 16px; 
    font-family: 'Open Sans','Raleway',Arial, sans-serif;
}
ul , ol {list-style-type: none;}
a, img {
    border: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    min-width: 320px;
    padding: 0 15px;  
    margin: 0  auto;
    
}
.download {
    width: 370px;
    height: 58px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

        /*header*/


.header {
    display: block;
    background: #000000;
    height: 75px;
    min-width: 320px;

}
.header__info{
    display: flex;
    justify-content: space-between;
}

.item__logo a {
    display: block;
    height: 100%;
}

.item-list ul {    
    display: flex;
}
.item-list ul li {
    height: 75px;
}
.item-list li a {
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.item-list li a:hover {
    background: #EC7979;
}
.item-list li a:active {    
    background: #AB4949;
}

   


        /* banner*/


    
.banner{
    height: 1026px;
    min-width: 320px;
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.5) url('../img/image-banner-big.svg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 205px;
}



.banner__info {
    display: flex;
    justify-content: space-between;
}


.banner__text{
    width: 635px;
    text-align: left;
    padding-top: 20px;

}


.banner__text .item__logo-exit{
    display:flex;
    width: 170px;
    height: 55px;
    margin-bottom: 85px;
    
}

.banner__text h1{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: white;
    margin-bottom: 65px;
}
.banner__text h5{
    color: white;
    margin: 0 0 42px;
    text-align: left;
}

.banner__text .separator{
    border: 1px solid white;
    margin: 0 0 42px;
    color: #FFFFFF;
    margin: 0 0 45px;
}


.banner__input-data{
    max-width: 470px;
    min-width: 288px;
    max-height: 450px;
    min-height: 381px;
    background-color: white;
    padding: 37px 0px 0px;
    border-radius: 10px;
    bottom: 23px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
form{
    width: 100%;
}
.banner__input-data h4 {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 50px;
    
}

.banner__input-data h4 span{
    color: #EC7979;
}


.banner__input-data-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 75px;
}


.banner__input-data-form .name,.email,.password{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    height: 71px;
    padding-top: 25px;
    border-width: 0px;
    border-bottom:1px solid #BDBDBD;
    color: #86878B;
    outline: none;
}

.btn-submit{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:  #EC7979;
    border-width: 0px;
}
.btn-submit:hover {
    background: #e96969;
}
.btn-submit:active {    
    background: #AB4949;
}

        /* social*/
.social{         
    min-width: 320px;  
    padding: 23px 0;
    background-color: #F8EFEF;;
}

.social__menu{
    display: flex;
}

.social__info{
    width: 40%;
    margin-right: 30px;
}
.social__icons-line{
    width: calc(60% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 22px;

}
.social p {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}



        /* design*/
.design{
    padding-top: 106px;
}

h2,h5 {
    align-items:center;
    text-align: center;
}

h2{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 40px ;
}

.separator {
    border: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

h5{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0 auto;
    color: #86878B;
    margin-bottom: 110px;
}


.design__group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    text-align: center;
    margin-bottom: 58px;
 
}


.design__item-icon {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}
.design__item-icon-lamp{
    background-image: url("../img/Group\ \(1\).svg");
}
.design__item-icon-keyboard{
    background-image: url("../img/Vector\ \(2\).svg");
}
.design__item-icon-lightning{
    background-image: url("../img/Vector\ \(3\).svg");
   
}

.design__item-designation {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px; 
    margin-bottom: 50px;
}

.design__item-description{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 21px; 
   
}

.design__item-image3 {

}
    
        /* pricing-page*/



.pricing__page{
    background-color: #F5F5F5;
    padding-top: 106px;
    min-width: 320px;
}


.pricing__group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-content: space-between;
    padding-bottom: 50px;
    
}
.pricing__group-item{
    min-width: 288px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    background: #FFFFFF;
    
}


.pricing__group-basic,
.pricing__group-price,
.pricing__group-freeForLife,
.pricing__group-space{
    font-family: 'Raleway',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pricing__group-basic{
    height: 60px;
    background-color:#333333;
    color: white;
    border: 2px solid #F5F5F5;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.pricing__group-price{

    height: 100px;
    background-color:#333333;
    color: white;
    border: 2px solid #F5F5F5;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;   
}

.pricing__group-freeForLife{
    height: 50px;
    background-color:#333333;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #F5F5F5;
}

.pricing__group-space{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    color: #86878B;  
}

.top{
    position: relative;
    bottom: 20px;
}



        /*customer*/

.customer{
    padding-top: 106px;
}       
.customer__comments{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  margin-bottom: 50px;

}
.customers{
    max-width: 370px;
    min-width: 288px;
    
   
}
.customer__comments-window{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 66px;
}

.customer__comments-window:after {
    content:'';
    position: absolute;
    left: 70px; top: 180px;
    border: 20px solid transparent;
    border-top: 20px solid #E2E2E2;
}


.customer__details-names{
    display: flex;
    
}

.customer__details-ico{
    width: 70px;
    height: 70px;
    margin-right: 30px;
    background-position:center;
    background-repeat: no-repeat;
}
.photo1{
    background-image: url("../img/custumer1jpg.jpg");
}
.photo2{
    background-image: url("../img/custumer2.jpg");
}
.photo3{
    background-image: url("../img/custumer3.jpg");
}
 
.customer__details-name{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
.customer__details-name-name{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
}
.customer__details-name-position{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

        /*banner__stylish*/

.banner__stylish {
    min-width: 320px;
    height: 442px;
    background:rgba(0, 0, 0, 0.5) url('../img/image-banner-stylish.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 106px;
}
.banner__stylish h2{
    color: white;
}
.banner__stylish h5{
    margin-bottom: 73px;
    color: white;
}
.banner__stylish .separator{
    border: 1px solid white;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
    align-items: center;
}



.download-stylish{
   margin: 0 auto;
   max-width: 370px;
   min-width: 288px;
}

        /*contakt-us*/

.contactUs{
    padding: 106px 0 50px;
}
.contactUs h5{
    margin-bottom: 84px;
}
.contactUs__input-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    height: 211px;
}
.contactUs__input-data-form{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.сontactUs__name,.сontactUs__email,.сontactUs__password{
    width: 100%;
    height: 38px;
    border-width: 0px;
    border-bottom:1px solid #BDBDBD;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    outline: none;
}
input::placeholder{color: #BDBDBD;}
input::-webkit-input-placeholder {color:#BDBDBD;}
input::-moz-placeholder {color:#BDBDBD;}
input:-moz-placeholder {color:#BDBDBD;}
input:-ms-input-placeholder {color:#BDBDBD;}
textarea::placeholder {color: #BDBDBD;}

.contactUs__input-data-form-textarea{
    width: 49%;
}

textarea{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    height: 211px;
    resize: none;
    outline: none;
    border: 0px;
    border-bottom:1px solid #BDBDBD;
    color: #86878B;
    padding-top: 10px;
}
.contactUs__input .btn-submit{
    display: block;
    max-width: 370px;
    min-width: 288px;
    height: 58px;
    margin: 0 auto;
    border-radius: 0px;
}

         /*footer*/


.footer{
    background-color: black;
    height: 164px;
    min-width: 320px;
}

footer .container {
    height: 164px;
    margin: 0 auto;
    padding: 32px 15px 27px;
}
    

.footer .icons_line{
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    
}
.icons_line a:not(:last-child) {
    margin-right: 32px;
}


.icon {
    display: flex;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.facebook{
    background-image:url("../img/facebook_icon\ \(2\).svg");
}
.facebook:hover{
    background-color: rgb(0, 93, 185);
    border-radius: 15%;
}
.twitter{
    background-image:url("../img/twitter_icon.svg");
}
.twitter:hover{
    background-color: rgb(71, 163, 255);
    border-radius: 15%;
}
.linkedin{
    background-image:url("../img/linkedin_icon.svg");
}
.linkedin:hover{
    background-color: rgb(162, 230, 246);
    border-radius: 15%;
}
.pinterest{
    background-image:url("../img/pinterest_icon.svg");
}
.pinterest:hover{
    background-color: rgb(141, 29, 29);
    border-radius: 15%;
}
.instagram{
    background-image:url("../img/instagram_icon.svg");
}
.instagram:hover{
    background-color: rgb(204, 41, 90);
    border-radius: 15%;
}
.github{
    background-image:url("../img/github_icon.svg");
}
.github:hover{
    background-color: rgb(106, 111, 117);
    border-radius: 15%;
}
.rss{
    background-image:url("../img/rss_icon.svg");
}
.rss:hover{
    background-color: rgb(190, 130, 60);
    border-radius: 15%;
}


h5.copy {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
text-align: center;
align-items: center;

}