
/* 1. почему кнопка в contactUs залезла под textarea, пришлось мэрджином ее вытаскивать
   2. banner__stylish что то не так с избражением при адаптации, снизу появляется серая полоска */


@media (max-width:1200px) {
    .container{
        width: 1024px; 
    }
    
}

@media (max-width:1024px){
    .container{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .banner{
        width: 100%;
        height: 768px;
        padding-top: 135px;
    }
    .banner__text .item__logo-exit{
        width: 140px;
        height: 45px;
    }
    .banner__text h1{
        font-size: 36px;
        line-height: 42px;
        width: 80%;
    }
    .banner__input-data{
        width: 398px;
        height: 450px;
    }
    .banner__text .separator{
        width: 115px;
    }
    .banner__text h5{
        font-size: 14px;
        line-height: 16px;
    }
    .banner__info .download{
        width:183px;
        height:50px;
    }
    .social__icons-line .icon {
        width: 64px;
        height: 64px;
    }
    .social h4{
        font-size: 18px;
        line-height: 25px;
    }
    .social p{
        font-size: 14px;
        line-height: 16px;  
    }
    h2{
        font-size: 24px;
        line-height: 28px;
    }
    .separator{
        width: 142px;
    }
    h5{
        font-size: 14px;
        line-height: 16px;  
    }

    .design__item-icon{
        width: 80px;
        height: 80px;
        
    }
    .design__item-designation{
        font-size: 18px;
        line-height: 25px;
    }
    .design__item-description{
        font-size: 14px;
        line-height: 16px;
    }


    .customer__details-ico{
        width: 63px;   
        height: 63px;
        background-size: contain;
    }
    .customer__comments-window{
       
        font-size: 14px;
        line-height: 16px;
    }
    .customer__details-name-name{
        font-size: 18px;
        line-height: 25px;
    }
    .customer__details-name-position{
        font-size: 14px;
        line-height: 16px;
    }
   
   

    .banner__stylish {
        height: 358px;
        padding-top: 52px;
        background-size: auto;
    }
    .download-stylish{
        width: 318px;
    }
    .contactUs__input .btn-submit+.download-stylish{
        width: 318px;
    }

   .icon{
       width: 45px;
       height: 45px;
   }
    h5.copy{
    font-size: 14px;
    line-height: 16px;
    }
}


@media (max-width:970px){
   
    .social__icons-line{
        width: 100%;
    }
    .social__info{
        width: 100%; 
    }
    .customer__comments{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing__group{
        grid-template-columns: repeat(2,1fr);
    }
    .design__group{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px 15px;
    }
    .top{
        bottom: 0px;
    }
    .customers{
        margin: 0 auto;
    }
    
}


@media (max-width:768px){
    .banner{
        padding-top: 75px;
    }
    .banner__text .item__logo-exit{
        margin-bottom: 35px;
    }
    .banner__text h1{
        margin-bottom: 30px;
    }
    .banner__input-data,.banner__text{
        width: 49%;
    }

    .header .item-list {
        display: none;
    }
    .social__menu{
        flex-direction: column; 
        align-items: center;
    }
    .social p {
        margin-bottom: 10px;
    }

    .social__info{
        width: 100%;
        text-align: center;
    }
    .social__icons-line{
        width: 100%;
    }
    
   


    
} 
@media (max-width:625px){
    .header,.header__info{
        height: 56px;
    }
    .item__logo .item__logo-exit img{
        width: 62px;
        height: 100%;
    }
    .banner__text .item__logo-exit{
        display: none;
    }
    .banner{
        height: 950px;
        padding-top: 70px;
    }
    .banner__info {
        flex-direction: column;
    }
    .banner__input-data{
        margin:0 auto;
    }
    .social__info {
        margin-right: 0px;
    }
    .icon,.social .icon {
        width: 26px;
        height: 26px;
    }

   .banner__input-data, .banner__text {
       width: 100%;
   }
   .banner__text{
       text-align: center;  
       width: 100%;
       margin: 0 auto;
       padding: 0px;
   }
   .banner__text h1{
        font-size: 36px;
        line-height: 42px;
        width: 100%;
   }
   .banner__text .separator{
       margin: 0 auto 40px;
   }

   .banner__text h5{
        text-align: center;
        margin: 0 auto 40px;
        font-size: 14px;
        line-height: 16px;
   }
   .banner__input-data{
       height: 381px;
   }
   .banner__input-data h4 {
        font-size: 14px;
        line-height: 19px;
        padding: 0px;
   }
   .banner__input-data-form{
       padding: 0 20px;
       margin-bottom: 75px;
   }
   .banner__info .download {
       width: 288px;
       margin: 0 auto 50px;
    }
    .customer__comments{
        grid-template-columns: repeat(1,1fr);
    }
    .pricing__group{
        grid-template-columns: repeat(1,1fr);
    }
    .design__group{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px 15px;
    }  
    .pricing__group{
        max-width: 370px;
        margin: 0 auto;
    }
    h5{
        margin-bottom: 24px; 
    }
    .download-stylish{
       width: 288px;
    }
    .banner__stylish{
        height: 100%;
        padding: 50px 0 50px;
    }
    .contactUs{
        padding: 50px 0 40px;
    }
    .contactUs__input-data{
        flex-direction: column;
    }
    .contactUs__input-data-form{
        width: 100%;
    }
    .contactUs__input-data-form-textarea{
        width: 100%;
        padding-top: 20px;
    }
    .contactUs__input .btn-submit{
        margin-top: 300px;
    }
    .сontactUs__name,.сontactUs__email,.сontactUs__password{
        margin-top: 40px;
    }
    .footer .icons_line{
        justify-content: space-between;
        margin-bottom: 48px;
    }
    .icons_line a:not(:last-child) {
        margin-right: 0px;
   }
   .customer,.pricing__page,.design{
       padding-top: 37px;
   }
}







/*@media (max-width:320px){
    .banner{
        height: 950px;
    }

    .banner__info {
        flex-direction: column;
    }
    .icon,.social .icon {
        width: 26px;
        height: 26px;
    }
    .design{
        display: none;
    }
    .pricing__page{
         display: none;
    }
    .customer{
        display: none;
     }
     .banner__stylish{
         display: none;
     }
     .contactUs{
         display: none;
     }
     .footer{
     }

     
}